/**
 *  covid 
 */

.header__covid {
    background-color: var(--black);
    text-align: center;
    padding: 5px 0;
}

.covid-message {
    font-size: .7rem;
    letter-spacing: .04em;
    color: var(--white);

}

.covid-icon {
    margin-right: 10px;
}

.covid-link {
    color:var(--white);
    font-family: var(--font-body);
    text-decoration: underline;
    margin-left: 10px;
    transition: color var(--transition-duration-normal) var(--transition-ease);
    text-transform: uppercase;
}

.covid-link:hover {
    color: var(--accent-primary);
    font-family: var(--font-body);
}