/**
 *  variables 
 */


 :root {
    --black: #39393A;
    --white: #ffffff;
    --accent-primary: #FF8552;
    --accent-secondary:#299994;
    /* #4FA28C */
    /* #299994 */
    /* #297373 */
    --white-transparent: rgba(255,255,255,.8);

    --space-base: max(10px, 1vw);

    --transition-duration-normal: .3s;
    --transition-duration-long: .7s;
    --transition-ease: ease;

    --font-primary: newBegin;
    --font-body: 'Source Sans Pro', sans-serif;

    --letter-spacing : .08em;
}
